.DASHBOARD{
    min-height: 100vh;
    width: 100vw;
}

.DASHBOARD > div:first-child > div {
    padding-left: 5%;
    padding-top: 5%;
    /* background-color: red; */
}

.DASHBOARD__PRODUCT_CARD {
    background-color: transparent;
    margin: 10px 0 5px 20px;
    padding: 5px 5px;
    height: auto;
    border: 1px solid #eee;
    width: 80%;
}

.DASHBOARD__PRODUCT_CARD img {
    width: 50px;
}

.DASHBOARD__PRODUCT_CARD h3 {
    margin-left: 20px;
}

.DASHBOARD__PRICE_TITLE {
    color: dodgerblue !important;
}

.DASHBOARD > div:nth-child(2) {
    margin-top: 20vh;
    margin-bottom: 5vh;
}