#RIGHT_COL {
    padding-top: 2%;
    padding-left: 5%;

    display: grid;
    grid-template-rows: calc(70vh - 2%) 20vh;

    height: auto;
    overflow: hidden;
}

#RIGHT_COL__upper {
    grid-row: 1 / 2;
}

#RIGHT_COL__lower {
    grid-row: 2 / -1;
    padding-top: 3%;
}

#RIGHT_COL__upper h2 {
    width: 90% !important;
}

#RIGHT_COL__upper h4 {
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 0.9rem !important;
    margin: 0 !important;
}

#RIGHT_COL__upper h3 {
    margin: 0;
    margin-top: 4%;
    margin-bottom: 3%;
}

#RIGHT_COL h5 {
    font-weight: bolder;
}

#RIGHT_COL__upper button {
    background: rgb(46, 46, 46);
    color: #fff !important;
    width: 40%;
    height: 50px;
    border-radius: 40px;
    font-size: 1rem;
    margin-top: 5%;
    border: none;
    cursor: pointer;
}

.RIGHT_COL__product_description {
    width: 90%;
}

#RIGHT_COL__payment_icons__container {
    width: 36%;
}

#RIGHT_COL__lower h5 {
    margin-bottom: 2%;
}

#RIGHT_COL__payment_icons__container > div {
    width: 40px;
    margin: 0;
}

@media (max-width: 600px) {
    #RIGHT_COL {
        grid-template-rows: auto auto;
        height: auto;
        overflow: unset;
    }

    #RIGHT_COL__upper {
        /* background-color: red; */
        height: auto;
        padding: 5vh 0;
    }

    #RIGHT_COL__upper h2 {
        font-size: 1.7rem;
    }

    #RIGHT_COL__upper h3 {
        margin-top: 8%;
        font-size: 1.3rem;
    }

    #RIGHT_COL > div {
        width: 95%;
    }

    #RIGHT_COL__quantity_container {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
    }

    .PRODUCT_DETAIL__quantity_slider {
        margin-top: 3%;
        width: 100%;
    }

    .PRODUCT_DETAIL__quantity_input {
        width: 40%;
        margin-top: 2%;
        padding: 5px 0;
    }
    
    #RIGHT_COL button {
        width: 92%;
    }

    #RIGHT_COL__lower {
        padding-bottom: 5vh;
    }

    #RIGHT_COL__payment_icons__container {
        width: 80%;
    }
}