#NAVBAR {
    height: 70px;
    width: 100%;
    padding: 5px;
    
    justify-content: space-between;
 
    /* background-color: rgb(167, 162, 162); */
}

#NAVBAR__logo {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
}

#NAVBAR__content {
    width: 60%;
}

#NAVBAR__link_items {
    width: 40%;
    text-decoration: none;
    margin-left: -10%;
}

#NAVBAR__link_items > a {
    color:#000;
    font-weight: 400;
    font-size: 1.1rem;
    transition: 300ms all ease;
}

#NAVBAR__link_items > a:hover {
    font-weight: bolder;
}

#NAVBAR__user_options {
    margin-right: 5%;
    width: 10%;
}

#NAVBAR__user_options a  {
    color: #000;
    font-size: 1.4rem;
}

@media (max-width: 600px) {
    #NAVBAR__logo {
        font-size: 1rem;
    }
}