#filterBar {
    /* background-color: red; */
    height: 8vw;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #eee;
}

#filterBar > div {
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#filterBar .select {
    width: 30%;
}


#filterBar input {
    width: 30%;
    height: 40%;
    border-radius: 20px;
}