#filterBar {
    height: 8vw;
    width: 100%;
    overflow: hidden;
    background-color: #eee;
}

#filterBar > div {
    width: 40%;
}

#filterBar .select {
    width: 30%;
}


#filterBar input {
    width: 30%;
    height: 40%;
    border-radius: 20px;
}