#filterBar {
    height: 8vw;
    width: 100%;
    overflow: hidden;
    /* background-color: rgb(196, 196, 196); */
    justify-content: space-evenly;
}

#filterBar > div {
    width: 40%;
}

#filterBar .select {
    width: 30%;
}

#filterBar .select div {
    border: none !important;
    box-shadow: 1px 1px 3px 3px #eee;
}

#filterBar input {
    border: none !important;
    width: 30%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 3px #eee;
}

@media (max-width: 600px) {
    #filterBar {
        height: auto;
        flex-wrap: wrap;
        padding: 10px 0;
        justify-content: start;
    }

    #filterBar > div {
        width: 99%;
    }

    #filterBar .select {
        width: 29%;
    }

    #filterBar input {
        width: 80%;
        height: 40px;
        margin: 10px 0 0 5%;
    }
}