#PRODUCT_CARD {
    margin: 25px 15px;
    width: 15%;

    max-height: 250px;
    background: #fff;
    overflow:  hidden;

    transition: 500ms all ease;

    box-shadow: 2px 2px 5px 5px #eee;
}

#PRODUCT_CARD_cover {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

#PRODUCT_CARD_cover img {
    width: 70%;
}

#PRODUCT_CARD_meta {
    height: 150px;

    padding-left: 10px;
    padding-top: 5px;
    transition: 500ms all ease;

    background-color: #fff;
}

#PRODUCT_CARD:hover {
    transform: scale(1.2);
}

#PRODUCT_CARD:hover > #PRODUCT_CARD_meta {
    transform: translateY(-150px);
}

#PRODUCT_CARD_meta h4 {
    font-size: 0.9rem !important;
    /* height: 50px; */
    width: calc(100% - 10px);

    margin: 0;
}

#PRODUCT_CARD_meta div {
    font-size: 0.8rem !important;
    margin: 0;
    margin-top: 5px;
}

#PRODUCT_CARD_meta button {
    width: auto;
    margin-top: 10px;
    margin-left: 4%;
    padding: 5px 8px;
}

#PRODUCT_CARD_meta > button:last-child {
    border: none !important;
    margin-left: 0%;
}

@media (max-width: 1024px) {
    #PRODUCT_CARD {
        width: 25%;
    }

    #PRODUCT_CARD_meta > button {
        margin-left: 0%;
        padding-left: 2px;
        padding-right: 2px;
        width: 48%;
    }
}

@media (max-width: 600px) {
    #PRODUCT_CARD {
        width: 80%;
    }
}