.TEXT_CONTAINER {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.TEXT_CONTAINER h4 {
    margin-bottom: 3px;
    text-transform: unset;
}

.TEXT_CONTAINER > p {
    width: 100%;
    opacity: 0.8;
}