
.HOME_product_mapper__head {
    text-align: center;
    width: 100%;
    z-index: 20;
    padding: 5% 0
}

#HOME__banner_card_container {
    /* background-color: red; */
    width: 80%;
    height: 200px;
    margin: auto;
    margin-top: 5vh;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    #HOME__banner_card_container {
        height: auto;
        width: 95%;
    }
}