#HOME {
    width: 100vw;
    height: auto;
}

/* #HOME > div:nth-child(3) {
    max-height: 70vh;
    overflow: hidden;
}

#HOME > div:nth-child(3) > div {
    padding-left: 5%;
    height: 100%;
    overflow: hidden;
} */