.shop {
    background-color: #000 !important;
    color: #fff !important;
}

.shop a {
    color: #fff;
}

.shop:hover {
    background-color: #fff !important;
    color: #000 !important;
}

.shop:hover a {
    color: #000;
}

.shop_reverse {
    background-color: #fff;
    border: none;
    color: #000;
}

.shop_reverse a {
    color: #000;
}

.shop_reverse:hover {
    background-color: #000 !important;
    /* color: #fff; */
}

/* .shop_reverse:hover a:hover {
    color: #000;
} */