#HOME__hero {
    max-width: 100vw;
    overflow-x: hidden;
    height: 80vh;
    text-align: center;
    background-image: url('../../../assets/images/hero_bg.jpg');
    background-size: 100% 250%;
    background-repeat: no-repeat;
    background-position: 0 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#HOME__hero h1 {
    font-family: 'Rufina', serif;
    font-size: 5rem;
    color: #fff;
}

#HOME__hero button {
    font-weight: bolder;
    font-size: 1.2rem;
    height: 60px;
    width: auto;
    padding: 0 20px;
}

@media (max-width: 600px) {
    #HOME__hero {
        background-size: 100% 100%;
        background-position: 0 0%;
    }

    #HOME__hero h1 {
        font-size: 3.5rem;
        height: auto;
        width: 90%;
        margin: -16% auto 30% auto;
        line-height: 4rem;
        
    }

    #HOME__hero button {
        width: 40vw;
        font-weight: bolder;
        font-size: 1.2rem;
        height: 60px;
    }
}