.FILTER {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    padding-left: 5%;
    background-color:transparent;
}

.FILTER h2 {
    margin-left: 20px;
    margin-bottom: 5px;
}

.FILTER div {
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 20px;
}