.FILTER {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    padding-left: 5%;
    background-color:transparent;
}

.FILTER h3 {
    margin-left: 20px;
    margin-bottom: 5px;
}

.FILTER div {
    flex-wrap: wrap;
    justify-content: start;
}

.FILTER label {
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin: 5px;
    background-color: #fff;
    cursor: pointer;
}