.FILTER_DISPLAYER {
    justify-content: start !important;
    height: auto;
    width: 100%;
    padding: 5% 0;
    padding-left: 5%;
}

.FILTER_DISPLAYER h4 {
    margin: 0;
}

.FILTER_DISPLAYER__filter_card {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 10px;
}

.FILTER_DISPLAYER__filter_card > strong {
    margin: 0 5px;
}

.FILTER_DISPLAYER__close_icon {
    cursor: pointer;
}

@media (max-width: 600px) {
    .FILTER_DISPLAYER {
        flex-wrap: wrap;
    }

    .FILTER_DISPLAYER h4 {
        width: 90%;
    }

    .FILTER_DISPLAYER__filter_card {
        margin: 4px 7px;
    }
}