#SIDEBAR {
    background-color: #fff;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 3vh;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}

#SIDEBAR > h3 {
    margin-bottom: 5vh;
}

#SIDEBAR_CARD {
    /* height: 100%; */
    width: 100%;
}

#SIDEBAR_CARD h4 {
    position: relative;
    left: -25%;
    padding: 4vh 0;
}

#SIDEBAR_CARD > div {
    background-color: #eee;
    padding: 3vh 10px;

    flex-wrap: wrap;
    justify-content: start;

    /* transform: scaleY(0); */
    /* transform-origin: top top; */
    /* transition: 200ms all ease; */

    /* height: 0px; */
    overflow: hidden;
}

/* #SIDEBAR_CARD:hover > div {
    height: auto;
    transform: scaleY(1);
    padding: 3vh 10px;
} */

#SIDEBAR_CARD label {
    margin: 5px;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
}