.NEWSLETTER {
    background-color: #fff;
    padding: 5% 0;
    text-align: center;
}

.NEWSLETTER > form {
    width: 40%;
    margin-top: 20px;
}

.NEWSLETTER button, .NEWSLETTER input {
    height: 50px;
}

.NEWSLETTER input {
    width: 70%;
    background-color: #eee;
}

@media (max-width: 1024px) {
    .NEWSLETTER form {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .NEWSLETTER {
        margin-top: 50px;
    }
    .NEWSLETTER p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .NEWSLETTER form {
        width: 90%;
    }
}