.CHECKOUT__LEFT_COL {
    width: 100%;
    height: auto;
    padding: 5% 0 5% 0;
}

.CHECKOUT__LEFT_COL h3, .CHECKOUT__LEFT_COL h4 {
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 5px;
}

.CHECKOUT__LEFT_COL input {
    height: 40px;
    margin: 5px 0;
    border-radius: 3px;
    border: 1px solid rgb(146, 146, 146);
}

.CHECKOUT__LEFT_COL form {
    margin-top: 30px;
    width: 80%;
}

.CHECKOUT__LEFT_COL > form > input:nth-child(2) {
    width: 100%;
}

.CHECKOUT__LEFT_COL form > input:nth-child(4),
.CHECKOUT__LEFT_COL form > input:nth-child(5),
.CHECKOUT__LEFT_COL form > input:nth-child(10),
.CHECKOUT__LEFT_COL__select {
    width: calc(50% - 5px) !important;
}

.CHECKOUT__LEFT_COL form > input:nth-child(4), .CHECKOUT__LEFT_COL__select {
    margin-right: 10px;
}

.CHECKOUT__LEFT_COL__select {
    background-color: #fff;
    padding: 2px;
    border: 2px solid rgb(146, 146, 146) !important;
}

.CHECKOUT__LEFT_COL__select > div {
    border: none !important;
}

.CHECKOUT__LEFT_COL button {
    height: 50px;
    width: 160px;
    border: none;
    margin-top: 10px;
}

@media (max-width: 900px) {
    .CHECKOUT__LEFT_COL form {
        width: 95%;
    }
}