@media (max-width: 600px) {
    .mainHeading {
        font-size: 4rem;
    }

    .promotionBanners {
        width: 90%;
        margin: 20px 0;
    }

    .productCard {
        width: 43vw;
        margin: 7px;
    }

    .productCard img {
        width: 60%;
    }
}